@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-surface: #1a1a1a;
  --color-primary: #ffffff;
  --color-secondary: #a1a1aa;

  --color-accent-cyan: #00f7ff;
  --color-accent-purple: #b537f2;
  --color-accent-green: #39ff14;

  --animate-spin-slow: spin 3s linear infinite;
}

:root {
  color-scheme: dark;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  font-feature-settings: "rlig" 1, "calt" 1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}